body {
    background: #e1e3e2;
}

h1, h1>a:hover, h1>a:visited, h1>a:link, h1>a:active {
    color: #ffffff;
}

h2 {
    color: #262914;
}

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #636463;
}

.img-tript-nav-left {
    background: url(../img/nav/left_dark@2x.png) no-repeat 5px 5px;
    background-size: 16px 16px;
    opacity: 0.5;
}

.img-tript-nav-right {
    background: url(../img/nav/right_dark@2x.png) no-repeat 5px 5px;
    background-size: 16px 16px;
    opacity: 0.5;
}
