body {
    background: #eeeeee;
}

h1, h1>a:hover, h1>a:visited, h1>a:link, h1>a:active {
    color: #121212;
}

h3 {
    color: #121212;
}


p {
    font-family: "Cutive Mono", monospace;
    letter-spacing: 0.0em;
    padding-bottom: 20px;
}

p, p>a:hover, p>a:visited, p>a:link, p>a:active {
    color: #121212;
}
