body {
    background: #ead5b3;
}

h1, h1>a:hover, h1>a:visited, h1>a:link, h1>a:active {
    color: #a2a1a7;
}

h2 {
    color: #382d27;
}

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #6c6252;
}

.img-tript-nav-left {
    background: url(../img/nav/left_dark@2x.png) no-repeat 5px 5px;
    background-size: 16px 16px;
    opacity: 0.3;
}

.img-tript-nav-right {
    background: url(../img/nav/right_dark@2x.png) no-repeat 5px 5px;
    background-size: 16px 16px;
    opacity: 0.3;
}

.img-tript-nav-left:hover, .img-tript-nav-right:hover {
    opacity: 0.8;
}
