body {
    background: #222222;
}

h1, h1>a:hover, h1>a:visited, h1>a:link, h1>a:active {
    color: #5c5c5c;
}

h2 {
    color: #e5e5e5;
}


.nivo-lightbox-theme-default.nivo-lightbox-overlay { 
    background: #121212;
}