#centering-outer {
    width: 100%;
    text-align: center;
}

#centering-inner {
    display: inline-block;
}

body {
    background: #a5a29d;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0.3em;
}

h1>a:hover, h1>a:visited, h1>a:link, h1>a:active {
    text-decoration: none;
    color: #c3bfb8;
}

h1.proj-head {
    padding-top: 10px;
}

h3 {
    font-family: "Lora", serif;
    font-style: italic;
    letter-spacing: 0.07em;
    margin-top: 5px;
}

h3, h3>a:hover, h3>a:visited, h3>a:link, h3>a:active {
    color: #382d27;
}

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #3f3e3c;
}

#text {
    width: 600px;
    text-align: justify;
    display: inline-block;
}

.img-tript-table {
    display: table;
    width: 400px;
    display: inline-block;
    margin-top: 20px;
}

.img-tript-row {
    display: table-row;
}

.img-tript-outer {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
}

.img-tript-inner {
    display: table-cell;
    width: 300px;
}

.img-tript-nav-left {
    background: url(../img/nav/left@2x.png) no-repeat 15px 5px;
    background-size: 16px 16px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: block;
    margin: auto;
}

.img-tript-nav-right {
    background: url(../img/nav/right@2x.png) no-repeat 5px 5px;
    background-size: 16px 16px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: block;
    margin: auto;
}

.img-tript-nav-right:hover, .img-tript-nav-left:hover {
    opacity: 0.9;
}

#player-container {
    display: block;
    margin-top: 40px;
}
