body {
    background: #[tbd];
}

h1, h1>a:hover, h1>a:visited, h1>a:link, h1>a:active {
    color: #[tbd];
}

h3, h3>a:hover, h3>a:visited, h3>a:link, h3>a:active {
    color: #[tbd];
}

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #[tbd];
}
